<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Produto e Pedido</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/product/list"
        >Lista de Produtos</a
      >

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/demand/list"
        >Lista de Pedidos</a
      >

      <a mat-list-item (click)="sidenav.toggle()">Sobre</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 15px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
